body{
    /*background:linear-gradient(to right, #8e0e00, #1f1c18);*/
   background-image:url("image/matrix-red-gif.gif");
}
.tabbox{
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #f0f8ff;
    
}
.tabbox:after 
     {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #9c0505;
        transform-origin: bottom right;
        transition: transform 0.50s ease-out;
      }
      
.tabbox:hover:after 
      {   
         transform: scaleX(1);
        transform-origin: bottom left;
      }

.glow { text-shadow: 0 0 50px #ff0000;
    color:#fff }
header{
    margin-top: 35px;
}

.row{
    display:flex;
    justify-content:space-evenly;
    justify-content:flex-start
}
.image{
    width: 175px;
    
    
}
.logocontainer{
    justify-content: center;
    margin-top: 60px;
    display: flex;
}
.profession{
    color: #f0f8ff;
    font-size:4rem;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.name{
    color:gray;
    font-size:1.5rem;
    text-align: center;
    margin-top: -50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.sociallink{
    display: flex;
    justify-content: space-evenly;
    margin-top: 190px;
    margin-bottom: 20px;

}
.github
{
    font-size: 10px;
}